:root { 
--cyan_A400:#00d8ff; 
--red_600:#df3a32; 
--red_800:#c12127; 
--red_500:#ef3f36; 
--light_blue_400:#1abcfe; 
--green_600:#539e43; 
--green_500:#5ab055; 
--amber_A400:#eaca05; 
--green_A400:#0acf83; 
--light_blue_800:#0071bc; 
--green_400:#61bc5b; 
--black_900:#000000; 
--deep_orange_700:#e44d26; 
--deep_orange_600:#f24e1e; 
--deep_orange_300:#ff7262; 
--deep_orange_500:#f16529; 
--deep_purple_A200:#a259ff; 
--gray_600:#7e7e7e; 
--gray_400:#b3b3b3; 
--blue_gray_100:#d9d9d9; 
--amber_400:#f7df1e; 
--gray_200:#ebebeb; 
--yellow_A700:#fcd900; 
--gray_300:#e6e6e6; 
--white_A700:#ffffff; 
--light_blue_400_01:#29abe2; 
}